*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #e5e5e5;

}
.header{
    position: fixed;
    left: 0;
    right: 0;
    line-height: normal;
}
.header .nav{
    display: flex;
    height: 80px;
    background-color: white;

}
.header .nav ul{
    display: flex;
    list-style: none;

}
.nav{
    height: 80px;
}
.nav .left{
    width: 270px;
}
.nav .right ul li a{
    padding: 30px 25px;
}
a{
    text-decoration: none;
    color: #999;
}
.nav{
    padding: 30px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
}
.slider{
    background-image:url(images/slider-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    height: 600px;
    background-repeat: no-repeat;
    padding: 200px 0;
    display: flex;
    text-align: center;
}
.nav a:hover{
    padding: 41px;
    background-color: #428bca;
    color: white;
}
button{
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    border-radius:5px ;
    height: 50px;
    width: 50px;
}
button:hover{
    background:rgb(31, 27, 27) ;
    transition: 0.5s;
}
.text h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 68px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.text p{
    color: white;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;

}
.btn-1{
    margin-top: 45px;
    margin-left: 10px;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}
.btn-2{

    margin-top: 45px;
    margin-right:10px ;
}


.container h4{
    color: #777;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}
.container p{
    color: #999;
    text-align: center;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 10px;
    margin-block-start: 14px;
    margin-block-end: 14px;
}
.change .container i{
    font-size: 24px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}
.change .box{
    
    background-color: white;
    border-radius: 4px;
    margin-top: -40px;
    padding: 50px 30px;
}
.ios i{
    background-color:#e74c3c;
}
.android i{
    background-color: #2ecc71;
}
.windows i{
    background-color:#3498db ;
}
.ruby i{
    background-color:#8e44ad ;
}
.javascript i{
    background-color: #1abc9c;
}
.responsive i{
    background-color:#2c3e50 ;
}
.container{
     text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-right: auto;
    margin-left: auto; */
}
.box2{
    display: flex;
    flex-direction: row;
}
.ios
{
padding: 15px;
}
.android {
    padding: 15px;
}
.windows {
    padding: 15px;
}
.ruby {
    padding: 15px;
}
.javascript {
    padding: 15px;
}
.responsive {
    padding: 15px;
}
.container .box1{
    display: flex;
    flex-direction: column;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
body {
    overflow-x: hidden;
}